<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mars</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class ="jumbotron text-center">
            <h1>Mars Web Scraper</h1>
            <a class="btn btn-primary btn-lg" href="/scrape" role="button">Acquire contemporaneity.</a>
        </div> 
        
        <div class="container">
            <h3>Latest Mars News</h3>
            <h6>{{mars.news_title}}</h6>
            <p>{{mars.paragraph}}</p>
        </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                    <h3>Featured</h3>
                    <img src="{{mars.featured_img_url}}" alt="featured image" style="max-width:100%; max-height: auto;">
            </div>

    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Latest Weather</h6>
                <p class="card-text">{{mars.weather_tweet}}</p>
            </div>
        </div>
    </div>

    <br>
    <h3>Facts</h3>
            <div style="margin-top: 70px; margin-bottom: 70px;">
            {{mars.facts_table | safe}}
            </div>
        </div>
    </div>

    <h3 style="text-align: center;">Hemispheres</h3>
    <div class="card-deck">
        <hr>
        <div class="col-md-12">
            <div class="row">
                {% for i in mars.hemisphere %}
                    <div class="col-md-6">
                        <div class="card">
                            <img class="card-img-top" src="{{i.img_url}}">
                            <div class="card-body">
                                <p class="card-text">{{i.hemi_title}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>